<h2><%= @event.title %></h2>
<%= semantic_form_for @event do |f| %>
	<%= f.inputs do %>
		<%= f.input :start, :label => "Vrijeme početka:", :as => :time_picker  %>
		<%= f.input :end, :label => "Vrijeme završetka:", :as => :time_picker%>
		<%= f.input :where, :label => "Mjesto predavanja",  :as => :select%>
		<%= f.input :date, :label => "Datum:" %>
		<%= f.input :odrzano, :label => "Odrzano"%>
		<p><h3>Popis učenika</h3></p>
		<p></p>
		<%= f.input :uceniks, :label => "", :as => :check_boxes , :collection => Ucenik.includes(:groups).where(:groups => {:id => @event.group_id})%>

	<% end %>
	<%= f.actions do %>
		<%= f.action :submit, :as => :button %>
      	<%= f.action :cancel, :as => :link %>
    <% end %>
<% end %>